html {
    background-image: url(../images/backgroundImg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

body {
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    background-image: url(../images/gamePlayBg.jpeg);
    opacity: 0.85;
      filter: alpha(opacity= 85); /* For IE8 and earlier */
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
	font-family: 'Playfair Display', serif;
}

img.center {
    width: 20%;
    padding-left: 5%;
    height: auto;
/*    float:right;*/
    display: block;
    margin: 0 auto;
}

.center{
    text-align: center;
    font-size: 60px;
    margin-bottom: 2%;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    clear: right;
}

button.startButton {
    margin-left: 32%;
    padding: 10px;
    clear: both;
    background: #000;
    color: #fff;
    border-radius: 25px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.question {
    clear:both;
    font-size: 20px;
    font: 25px;
    line-height: 1.2em;
    text-align: center;
    margin: 0 25%;
    padding-top: 10%;
    width: 50%;
    color:#fff;
    height: 100px;
    text-shadow:
    -1px -1px 0 #800000,  
    1px -1px 0 #800000,
    -1px 1px 0 #800000,
    1px 1px 0 #800000;
    background: #244C06;
    }
        
.timer {
text-align: center;
}

button{
    margin-bottom: 2px;
}


#button-a,
#button-b,
#button-c,
#button-d {
    width: 50%;
    background-color:#244C06;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0.3% 25%;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    float: left;
}

button.answerchoice {
    display: none;
    margin-bottom: 2px;
}

#button-a:hover,
#button-b:hover,
#button-c:hover,
#button-d:hover {
    background-color: #808000;
}

